h1{
	font-family: arial;
	font-size: 70pt;
	color: #D4734C;
	background-color: #54F5C9;
	padding: 60px;
}
dl{color:#8E53F5;}
h2{color:#B6F229;}
ol{color:#F27D6B;}
ul{color: #329956}
tr{color: #00E613}
p{color: #E66391}